In [34]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n SquareROOT  of DataFrame:\n",info.apply(np.sqrt))
print("\n sum of each column \n ",info.apply(np.sum,axis=0))
print("\n sum of each row \n ",info.apply(np.sum,axis=1))

DataFrame.apply function:


 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 SquareROOT  of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column
  S    12
R    36
dtype: int64

 sum of each row
  0    12
1    12
2    12
3    12
dtype: int64

In [35]:
info1=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info1)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     S  R
min  3  9
max  3  9

In [36]:
d2=pd.DataFrame([['Sai',88],['Poo',70]],columns=['Emp','Id'])
print(d2)

   Emp  Id
0  Sai  88
1  Poo  70

In [37]:
d2['Age']=[20,18]
print(d2)

   Emp  Id  Age
0  Sai  88   20
1  Poo  70   18

In [38]:
d=d2.assign(Sex=['Male','Male'])
print(d)

   Emp  Id  Age   Sex
0  Sai  88   20  Male
1  Poo  70   18  Male

In [39]:
info3=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info3)

       col3      col4
3 -0.727141 -0.852260
2  0.245636 -1.260749
0 -1.321839  0.183477
4  0.134829 -0.576374
1  1.187787  0.087431

In [40]:
info=info3.sort_index()
print(info)

       col3      col4
0 -1.321839  0.183477
1  1.187787  0.087431
2  0.245636 -1.260749
3 -0.727141 -0.852260
4  0.134829 -0.576374

In [41]:
info4=info3.sort_values(by='col3')
print(info4)

       col3      col4
0 -1.321839  0.183477
3 -0.727141 -0.852260
4  0.134829 -0.576374
2  0.245636 -1.260749
1  1.187787  0.087431

In [42]:
left=pd.DataFrame({'Id':[1,2,3],'Name':['Bala','Chandra','Dhana'],'Sub':['sub1','sub2','sub3']})
print(left)

   Id     Name   Sub
0   1     Bala  sub1
1   2  Chandra  sub2
2   3    Dhana  sub3

In [43]:
right=pd.DataFrame({'Id':[1,2,3],'Name':['Bals','Birla','Motowagon'],'Sub':['sub3','sub4','sub5']})
print(right)

   Id       Name   Sub
0   1       Bals  sub3
1   2      Birla  sub4
2   3  Motowagon  sub5

In [44]:
print(pd.merge(left,right,on="Id"))

   Id   Name_x Sub_x     Name_y Sub_y
0   1     Bala  sub1       Bals  sub3
1   2  Chandra  sub2      Birla  sub4
2   3    Dhana  sub3  Motowagon  sub5