In [15]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['One','Two','Three'],columns=['a','b','c'])
print(df)

       a  b  c
One    1  2  3
Two    4  5  6
Three  7  8  9

In [16]:
df.to_excel("D:\Barath.xlsx")
df.to_excel("D:\Balaj Bhavan.xlsx")

In [17]:
df=pd.DataFrame([[10,20,30],[40,50,60],[70,80,90]],index=['Four','Five','Six'],columns=['X','Y','Z'])
df.to_excel("D:\Barath.xlsx",sheet_name="Mark")

In [21]:
x=pd.read_excel("D:\Barath.xlsx")
y=pd.read_excel("D:\Balaj Bhavan.xlsx")
z=pd.concat([x,y])
z.to_excel("D:\Aakan.xlsx")

In [22]:
df=z.sort_values(["X"])
print(df)
df.to_excel("D:\Aakan.xlsx")
df=pd.read_excel("D:\Barath.xlsx")
print(df)
print(list(df))
print(format(len(df)))

  Unnamed: 0     X     Y     Z    a    b    c
0       Four  10.0  20.0  30.0  NaN  NaN  NaN
1       Five  40.0  50.0  60.0  NaN  NaN  NaN
2        Six  70.0  80.0  90.0  NaN  NaN  NaN
0        One   NaN   NaN   NaN  1.0  2.0  3.0
1        Two   NaN   NaN   NaN  4.0  5.0  6.0
2      Three   NaN   NaN   NaN  7.0  8.0  9.0
  Unnamed: 0   X   Y   Z
0       Four  10  20  30
1       Five  40  50  60
2        Six  70  80  90
['Unnamed: 0', 'X', 'Y', 'Z']
3